[*.cs]

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0028: Simplify collection initialization
dotnet_style_collection_initializer = false

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = silent

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = silent

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = silent

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = silent
